html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #009eff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #00fff644;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #00e7ff;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #0014ff;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #00fff644;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #00fff644;
}

.pricing-price {
  color: #0014ff;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #00e7ff;
  border-radius: 10px;
  color: #009eff;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #00e7ff;
  font-weight: 900;
}

.pricing-button.is-featured {
  background-color: #0014ff;
  color: #fff;
  font-weight: 900;
  border: none;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #fff;
  color: #0014ff;
  border: 1px solid #0014ff;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #00e7ff44;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}
